<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="container">
			<div class="nav navbar-header">
				<a href="/#threads" class="navbar-brand"><%= title %></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="/login" id="login">
							<span>Login with Twitter</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
